
<div class="button-bar">

  <h3 *ngIf="file" >{{fileName}}</h3> 
  <h3 *ngIf="!file">No File Choosen</h3> 
  <span class="spacer"></span>
 
  <div class="btn-group btn-primary">
    <div [class]="buttonsHiddenStyle">
      <button class="btn btn-icon dropdown-toggle" [disabled]="!file" (click)="buttonsHiddenStyle=moreButton()">
          <clr-icon size="24" shape="ellipsis-horizontal"></clr-icon>
      </button>
      <div class="dropdown-menu top-left">
          <button class="btn" [disabled]="!file"  (click)="buttonsHiddenStyle=moreButton();resetFile()" >Clean</button>
          <button class="btn" [disabled]="!file" *ngIf="printText" (click)="isJsonFile=false;printText=false;buttonsHiddenStyle=moreButton()">Text-Datei anzeigen</button>
          <button class="btn" [disabled]="!file" *ngIf="!printText" (click)="isJsonFile=false;printText=true;buttonsHiddenStyle=moreButton()">Editor anzeigen</button>
          <button class="btn" [disabled]="!file" (click)="modalOpenedforDelimitor=true;buttonsHiddenStyle=moreButton()">Delimiter ändern</button>
      </div>
    </div>
    <button type="button" class="btn btn-icon" [disabled]="!file" aria-label="home" (click)="modalOpenedforNewLine=true;isJsonFile=false;printText=true">
      <clr-icon size="24" shape="plus" class="white is-solid"></clr-icon>
    </button>
    <button class="btn btn-success" [disabled]="!file" (click)="downloadJson()"><clr-icon shape="download"></clr-icon>Download JSON</button>
    <button class="btn btn-success" [disabled]="!file" (click)="downloadCsv()"><clr-icon shape="download"></clr-icon>Download CSV</button>
    <label class="btn">
      <input type="file" (change)="readCsvFile($event)" accept=".csv,.json" placeholder="Upload CSV"  class="button-input"><clr-icon shape="upload"></clr-icon> Upload File
    </label>
  </div>

</div>

<clr-tabs>
  <clr-tab>
      <button clrTabLink id="link1" >CSV</button>
      <clr-tab-content id="content1" *clrIfActive="!isJsonFile">
        <clr-datagrid *ngIf="result.length > 0 && printText && file">
          <clr-dg-column >ID</clr-dg-column>
          <clr-dg-column [clrDgField]="'transcript'">Transcript</clr-dg-column>
          <clr-dg-column [clrDgField]="'category'">Category</clr-dg-column>
          <clr-dg-column [clrDgField]="'literal'">Literal</clr-dg-column>
          <clr-dg-column [clrDgField]="'startIndex'">Start_Index</clr-dg-column>
          <clr-dg-column [clrDgField]="'endIndex'">End_Index</clr-dg-column>
          <clr-dg-column [clrDgField]="'intent'">Intent</clr-dg-column>
        
          <clr-dg-row *clrDgItems="let CsvUtterance of result">
            <clr-dg-action-overflow>
              <button class="action-item" (click)="isJsonFile=false; selectedCsvUtterance === CsvUtterance ? editCsvUtterance(CsvUtterance) : selectedCsvUtterance = CsvUtterance; refreshCsvUtterances(result)">
                <clr-icon *ngIf="CsvUtterance.id === selectedCsvUtterance?.id" shape="check"></clr-icon>
                <clr-icon *ngIf="CsvUtterance.id !== selectedCsvUtterance?.id" shape="pencil"></clr-icon>
              </button>
              <button class="action-item" (click)="deleteCsvUtterance(CsvUtterance)">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </clr-dg-action-overflow>
        
            <ng-container *ngIf="CsvUtterance.id === selectedCsvUtterance?.id">
              <clr-dg-cell>{{CsvUtterance.id}}</clr-dg-cell>
              <clr-dg-cell><input clrInput [(ngModel)]="selectedCsvUtterance.transcript" name="transcript" /></clr-dg-cell>
              <clr-dg-cell><input clrInput [(ngModel)]="selectedCsvUtterance.category" name="category" /></clr-dg-cell>
              <clr-dg-cell><input clrInput [(ngModel)]="selectedCsvUtterance.literal" name="literal" /></clr-dg-cell>
              <clr-dg-cell><input clrInput [(ngModel)]="selectedCsvUtterance.startIndex" name="startIndex" /></clr-dg-cell>
              <clr-dg-cell><input clrInput [(ngModel)]="selectedCsvUtterance.endIndex" name="endIndex" /></clr-dg-cell>
              <clr-dg-cell><input clrInput [(ngModel)]="selectedCsvUtterance.intent" name="intent" /></clr-dg-cell>
            </ng-container>
            <ng-container *ngIf="CsvUtterance.id !== selectedCsvUtterance?.id">
              <clr-dg-cell>{{CsvUtterance.id}}</clr-dg-cell>
              <clr-dg-cell>{{CsvUtterance.transcript}}</clr-dg-cell>
              <clr-dg-cell>{{CsvUtterance.category}}</clr-dg-cell>
              <clr-dg-cell>{{CsvUtterance.literal}}</clr-dg-cell>
              <clr-dg-cell>{{CsvUtterance.startIndex}}</clr-dg-cell>
              <clr-dg-cell>{{CsvUtterance.endIndex}}</clr-dg-cell>
              <clr-dg-cell>{{CsvUtterance.intent}}</clr-dg-cell>
            </ng-container>
        
          </clr-dg-row>
        
          <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">CsvUtterances per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem}} of {{pagination.totalItems}} CsvUtterances
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
        <pre class="clr-row language-html pre" *ngIf="!printText">
          <code style="text-align: start;" class="clr-col-10 clr-col-lg language-html">{{fileAsCsvString}}</code>
        </pre>
      </clr-tab-content>
  </clr-tab>
  <clr-tab>
      <button clrTabLink (click)="convertToJSON(); isJsonFile=true">JSON</button>
      <clr-tab-content *clrIfActive="isJsonFile">
        
        <div class="clr-row" *ngIf="file">
          <div class="clr-col-lg-7 clr-col-12 ">
            <div class="card language-html">
              <pre style="border: none;"><code>{{fileAsJson}}</code></pre>
            </div>
          </div>
          <div class="clr-col-lg-5 clr-col-12">
            <!-- Here Component to deploy JSON On LUIS-->
          
          </div>
            
            
        </div>
        
      </clr-tab-content>
  </clr-tab>
</clr-tabs>
<clr-modal [(clrModalOpen)]="modalOpenedforNewLine" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title">New Line </h3>
  <div class="modal-body">
    <table class="table">
          <tr>
              <td><input placeholder="ID" [(ngModel)]="newLine.id" style="width:70px" clrInput required /></td>
              <td><input placeholder="Transcript" [(ngModel)]="newLine.transcript" style="width:220px" clrInput required /></td>
              <td><input placeholder="Category_id" [(ngModel)]="newLine.category" clrInput /></td>
              <td><input placeholder="Literal" [(ngModel)]="newLine.literal" clrInput /></td>
              <td><input placeholder="Start_index" [value]="getFirstIndexOf(newLine.literal,newLine.transcript)" disabled ="newLine.startIndex" style="width:100px" clrInput /></td>
              <td><input placeholder="End_index" [value]="getLastIndexOf(newLine.literal,newLine.transcript)" disabled [(ngModel)]="newLine.endIndex" style="width:100px" clrInput  /></td>
              <td><input placeholder="Intent" [(ngModel)]="newLine.intent" style="width:100px" clrInput  /></td>
          </tr>
    </table>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-success" [disabled]="(newLine.id=='' || newLine.transcript=='')" (click)="modalOpenedforNewLine=false; insertCsvUtterance(newLine)">
          Speichern
      </button>
      <button type="button" class="btn btn-primary" (click)="modalOpenedforNewLine=false;cancelInsert()">
        Abbrechen
    </button>
  </div>
</clr-modal>

<!--Modal to Change the Delimiter -->
<clr-modal [(clrModalOpen)]="modalOpenedforDelimitor" [clrModalSize]="'sm'">
  <h3 class="modal-title">Delimiter Änderung </h3>
  <div class="modal-body">
    <clr-select-container>
      <label>Neuer Delimiter auswählen</label>
      <select clrSelect (change)="changeDelimiter($event)" name="options" required>
        <option value=";">Semicolon</option>
        <option value=",">Comma</option>
      </select>
    </clr-select-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modalOpenedforDelimitor = false;">
      OK
    </button>
  </div>
</clr-modal>