<div class="clr-row">
    <div class="clr-col-3">
        <h2>{{luisApp.name}}</h2>
        <h3 style="margin-top: 0; color: hsl(198, 0%, 70%);">
            <span>ID:</span> {{luisApp.appID}}
        </h3>
        <div><span class="p4">Version: </span>{{luisApp.version}}</div>
        <div><span class="p4">Dashbord-URL: </span>{{luisApp.dashboardUrl}}</div>
        <div><span class="p4">Description: </span>{{luisApp.description}}</div>
        <button class="btn btn-primary p4">Edit</button>
        <button class="btn p4" routerLink="/manage">Back</button>    
    </div>
</div>