<div class="clr-row clr-align-items-start clr-justify-content-start">
    <div class="clr-col" style="max-width: 632px; min-width: 632px;">
        <div class="card">
            <div class="card-block">
                <div class="chart-wrapper" *ngIf="chartData">
                    <canvas baseChart [datasets]="chartData" [labels]="chartLabels"
                        [options]="chartOptions" [legend]="chartLegend" [chartType]="'bar'"
                        [colors]="chartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col" style="max-width: 632px; min-width: 632px;">
        <div class="card">
            <div class="card-block">
                <div class="chart-wrapper" *ngIf="chartData">
                    <canvas baseChart [datasets]="chartData" [labels]="chartLabels"
                        [options]="chartOptions" [legend]="chartLegend" [chartType]="'line'"
                        [colors]="chartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col" style="max-width: 632px; min-width: 632px;">
        <div class="card">
            <div class="card-block">
                <div class="chart-wrapper" *ngIf="chartData">
                    <canvas baseChart [datasets]="chartData" [labels]="chartLabels"
                        [options]="chartOptions" [legend]="chartLegend" [chartType]="'radar'"
                        [colors]="chartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col" style="max-width: 632px; min-width: 632px;">
        <div class="card">
            <div class="card-block">
                <div class="chart-wrapper" *ngIf="chartData">
                    <canvas baseChart [datasets]="chartData" [labels]="chartLabels"
                        [options]="chartOptions" [legend]="chartLegend" [chartType]="'polarArea'"
                        [colors]="chartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>