<div class="button-bar">
  <div></div>
  <span class="spacer"></span>
  <button class="btn btn-sm btn-primary" (click)="changeToHorizonTal()" *ngIf="layout.direction === 'vertical'">HorizonTal Layout</button>
  <button class="btn btn-sm btn-primary" (click)="changeToVertical()" *ngIf="layout.direction === 'horizontal'">Vertical Layout</button>
</div>

<div class="clr-row" >
  <div [class]="layout.block1" >
    <div class="card">
      <div class="card-header">
        <h3 style="text-align: center;"> STEPPER</h3>
      </div>
      
      <div class=" card-block container">

        <clr-timeline [clrLayout]="layout.direction" >
          <clr-timeline-step [clrState]="timelineStyle.step0.state">
            <clr-timeline-step-header>Step 0</clr-timeline-step-header>
            <clr-timeline-step-title>Add Utterances</clr-timeline-step-title>
            <clr-timeline-step-description>In this quickstart, you build a new app in the LUIS portal. First, create the basic parts of an app, intents, and entities. </clr-timeline-step-description>
          </clr-timeline-step>
          <clr-timeline-step class="gemini-ignore" [clrState]="luis.app.created == 0? 'success' : timelineStyle.step1.open? 'current' : 'not-started'">
            <clr-timeline-step-header>Step 1</clr-timeline-step-header>
            <clr-timeline-step-title>Create new app on Luis</clr-timeline-step-title>
            <clr-timeline-step-description>
              In the window that appears, enter the following information:
              <ul class="list">
                <li>Name:	A name for your app. Required.</li>
                <li>Description:	A description for your app. Optional.</li>
                <li>Culture	The language that your app understands and speaks. Here German.</li>
              </ul>
            </clr-timeline-step-description>
          </clr-timeline-step>
          <clr-timeline-step [clrState]="luis.app.trained == 0? 'success' : luis.app.created == 0? 'current' : 'not-started'">
            <clr-timeline-step-header>Step 2</clr-timeline-step-header>
            <clr-timeline-step-title>Train the App</clr-timeline-step-title>
            <clr-timeline-step-description>
              
              If you changed the app since you trained it last, train the app.
              <button class="btn btn-sm btn-primary" (click)="train()" [disabled]="luis.app.created!=0">Train</button>
            </clr-timeline-step-description>
          </clr-timeline-step>
          
          <clr-timeline-step [clrState]="luis.app.published == 0? 'success' : timelineStyle.step3.open? 'current' : 'not-started'">
            <clr-timeline-step-header>Step 3</clr-timeline-step-header>
            <clr-timeline-step-title>Publish the App</clr-timeline-step-title>
            <clr-timeline-step-description>
              <ul class="list">
                <li> Publish the app to access it from the HTTP endpoint</li>
                <li>In order to receive a LUIS prediction in a chat bot or other client application, you need to publish the app to the prediction endpoint.</li>
              </ul>
            </clr-timeline-step-description>
          </clr-timeline-step>
          <clr-timeline-step [clrState]="timelineStyle.step4.state">
            <clr-timeline-step-header>Step 4</clr-timeline-step-header>
            <clr-timeline-step-title>Test your new App</clr-timeline-step-title>
            <clr-timeline-step-description>
              <!-- Use the interactive Test pane in the LUIS portal to validate that the entity is extracted from new utterances the app hasn't seen yet. -->
            </clr-timeline-step-description>
          </clr-timeline-step>
        </clr-timeline>
      </div>
    </div>
  </div>
  <div [class]="layout.block2" >
    
    <!--STEP 0-->
    <div class="card" *ngIf="timelineStyle.step0.open">
      <div class="card-header">
        <h3 style="text-align: center;"> Add Utterances</h3>
      </div>
      <div class="card-block">
        <clr-radio-container clrInline>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="options" required value="train" [(ngModel)]="data.type" />
            <label> Select your training data</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="options" required value="test" [(ngModel)]="data.type" />
            <label>Select your test data</label>
          </clr-radio-wrapper>
          <clr-control-helper>You need to select your traindata to go to the next step of the workflow. If you don't add any testdata the previously selected "training data" are automatically distributed to training and test data</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-radio-container>
        <h3 *ngIf="data.type=='train'"> 
          Add Train data
              <clr-tooltip>
                <clr-icon shape="info-circle" size="35" style="--color:hsl(282, 43%, 54%)" clrTooltipTrigger></clr-icon>
                <clr-tooltip-content *clrIfOpen>
                  Select Ground-Truth data or upload a json or csv file
                </clr-tooltip-content>
              </clr-tooltip>
        </h3>
        <h3 *ngIf="data.type=='test'"> 
          Add Test data
              <clr-tooltip>
                <clr-icon shape="info-circle" size="30" style="--color:hsl(282, 43%, 54%)" clrTooltipTrigger></clr-icon>
                <clr-tooltip-content *clrIfOpen>
                  Select Ground-Truth data or upload a json or csv file
                </clr-tooltip-content>
              </clr-tooltip>
        </h3>
        <clr-tabs *ngIf="data.type=='test'">
          <clr-tab>
              <button clrTabLink>Ground-Truth</button>
              <clr-tab-content *clrIfActive>
                
                <clr-datagrid [(clrDgSelected)]="selectedTestdata" (clrDgSelectedChange)="selectionChanged($event)" >
                  <clr-dg-placeholder>The Ground-Truth is empty</clr-dg-placeholder>
                  <clr-dg-column > <ng-container *clrDgHideableColumn="{hidden: false}">ID</ng-container></clr-dg-column>
                  <clr-dg-column [clrDgField]="'transcript'"><ng-container *clrDgHideableColumn="{hidden: false}">Transcript</ng-container></clr-dg-column>
                  <clr-dg-column [clrDgField]="'category'"><ng-container *clrDgHideableColumn="{hidden: false}">Category</ng-container></clr-dg-column>
                  <clr-dg-column [clrDgField]="'literal'"><ng-container *clrDgHideableColumn="{hidden: false}">Literal</ng-container> </clr-dg-column>
                  <clr-dg-column [clrDgField]="'startIndex'"><ng-container *clrDgHideableColumn="{hidden: false}">Start_Index</ng-container> </clr-dg-column>
                  <clr-dg-column [clrDgField]="'endIndex'"><ng-container *clrDgHideableColumn="{hidden: false}">End_Index</ng-container> </clr-dg-column>
                  <clr-dg-column [clrDgField]="'intent'"><ng-container *clrDgHideableColumn="{hidden: false}">Intent</ng-container> </clr-dg-column>
                  <clr-dg-column [clrDgField]="'tag'"> <ng-container *clrDgHideableColumn="{hidden: false}">Tag</ng-container></clr-dg-column>
              
                  <clr-dg-action-bar>
                    
                    <div *ngFor="let intent of intents; let i = index" class="btn-group" >
                      <div>
                          <button *ngIf="!intentsSelectionTestdata[i]" class="btn btn-sm btn-primary-outline" (click)="intentsSelectionTestdata[i]=!intentsSelectionTestdata[i];selectIntents(intent,1)">{{intent}}</button>
                          <button *ngIf="intentsSelectionTestdata[i]" class="btn btn-sm btn-primary" (click)="intentsSelectionTestdata[i]=!intentsSelectionTestdata[i]; deselectIntents(intent,1)">{{intent}}</button>
        
                      </div>
                      
                    </div>
                      
                  </clr-dg-action-bar>
                  <clr-dg-row *clrDgItems="let utterance of result" [clrDgItem]="utterance">
                  
              
                  <ng-container >
                      <clr-dg-cell>{{utterance.id}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.transcript}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.category}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.literal}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.startIndex}} </clr-dg-cell>
                      <clr-dg-cell>{{utterance.endIndex}} </clr-dg-cell>
                      <clr-dg-cell>{{utterance.intent}} </clr-dg-cell>
                      <clr-dg-cell>{{utterance.tag}}</clr-dg-cell>
                  </ng-container>
              
                  </clr-dg-row>
              
                  <clr-dg-footer>
                      <clr-dg-column-toggle>
                          <clr-dg-column-toggle-title>Show Columns</clr-dg-column-toggle-title>
                          <clr-dg-column-toggle-button>Select All Button</clr-dg-column-toggle-button>
                          <clr-radio-wrapper>
              
                          </clr-radio-wrapper>
                      </clr-dg-column-toggle>
                  <clr-dg-pagination #pagination [clrDgPageSize]="10">
                      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Utterances per page</clr-dg-page-size>
                      {{pagination.firstItem + 1}} - {{pagination.lastItem}} of {{pagination.totalItems}} utterances
                  </clr-dg-pagination>
                  </clr-dg-footer>
                </clr-datagrid>
              </clr-tab-content>
          </clr-tab>
      </clr-tabs>
      <clr-tabs *ngIf="data.type=='train'">
        <clr-tab>
            <button clrTabLink (click)="uploadedFile = {exist : false,json : false, csv : false,content : '',name : ''}">Ground-Truth</button>
            <clr-tab-content *clrIfActive>
              <clr-datagrid [(clrDgSelected)]="selectedTrainingsdata" (clrDgSelectedChange)="selectionChanged($event)" >
                <clr-dg-placeholder>The Ground-Truth is empty</clr-dg-placeholder>
                <clr-dg-column > <ng-container *clrDgHideableColumn="{hidden: false}">ID</ng-container></clr-dg-column>
                <clr-dg-column [clrDgField]="'transcript'"><ng-container *clrDgHideableColumn="{hidden: false}">Transcript</ng-container></clr-dg-column>
                <clr-dg-column [clrDgField]="'category'"><ng-container *clrDgHideableColumn="{hidden: false}">Category</ng-container></clr-dg-column>
                <clr-dg-column [clrDgField]="'literal'"><ng-container *clrDgHideableColumn="{hidden: false}">Literal</ng-container> </clr-dg-column>
                <clr-dg-column [clrDgField]="'startIndex'"><ng-container *clrDgHideableColumn="{hidden: false}">Start_Index</ng-container> </clr-dg-column>
                <clr-dg-column [clrDgField]="'endIndex'"><ng-container *clrDgHideableColumn="{hidden: false}">End_Index</ng-container> </clr-dg-column>
                <clr-dg-column [clrDgField]="'intent'"><ng-container *clrDgHideableColumn="{hidden: false}">Intent</ng-container> </clr-dg-column>
                <clr-dg-column [clrDgField]="'tag'"> <ng-container *clrDgHideableColumn="{hidden: false}">Tag</ng-container></clr-dg-column>
            
                <clr-dg-action-bar>
                  
                  <div *ngFor="let intent of intents; let i = index" class="btn-group">
                    <div>
                        <button *ngIf="!intentsSelectionTraindata[i]" class="btn btn-sm btn-primary-outline" (click)="intentsSelectionTraindata[i]=!intentsSelectionTraindata[i];selectIntents(intent,0)">{{intent}}</button>
                        <button *ngIf="intentsSelectionTraindata[i]" class="btn btn-sm btn-primary" (click)="intentsSelectionTraindata[i]=!intentsSelectionTraindata[i]; deselectIntents(intent,0)">{{intent}}</button>
      
                    </div>
                    
                  </div>
                    
                </clr-dg-action-bar>
                <clr-dg-row *clrDgItems="let utterance of result" [clrDgItem]="utterance">
                
            
                <ng-container >
                    <clr-dg-cell>{{utterance.id}}</clr-dg-cell>
                    <clr-dg-cell>{{utterance.transcript}}</clr-dg-cell>
                    <clr-dg-cell>{{utterance.category}}</clr-dg-cell>
                    <clr-dg-cell>{{utterance.literal}}</clr-dg-cell>
                    <clr-dg-cell>{{utterance.startIndex}} </clr-dg-cell>
                    <clr-dg-cell>{{utterance.endIndex}} </clr-dg-cell>
                    <clr-dg-cell>{{utterance.intent}} </clr-dg-cell>
                    <clr-dg-cell>{{utterance.tag}}</clr-dg-cell>
                </ng-container>
            
                </clr-dg-row>
            
                <clr-dg-footer>
                    <clr-dg-column-toggle>
                        <clr-dg-column-toggle-title>Show Columns</clr-dg-column-toggle-title>
                        <clr-dg-column-toggle-button>Select All Button</clr-dg-column-toggle-button>
                        <clr-radio-wrapper>
            
                        </clr-radio-wrapper>
                    </clr-dg-column-toggle>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Utterances per page</clr-dg-page-size>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem}} of {{pagination.totalItems}} utterances
                </clr-dg-pagination>
                </clr-dg-footer>
              </clr-datagrid>
             
            </clr-tab-content>
        </clr-tab>
    
        <clr-tab>
            <button clrTabLink (click)="intentsSelectionTraindata = [];selectedTrainingsdata = []">Upload File</button>
            <clr-tab-content *clrIfActive="uploadedFile.exist">
              <br>
              <label class="btn">
                <input type="file"  accept=".csv,.json" placeholder="Upload File" (change)="readCsvFile($event) "  class="button-input"><clr-icon shape="upload"></clr-icon> upload
              </label>
              <h4 *ngIf="uploadedFile.exist">{{uploadedFile.name}}</h4>
              <div class="card-text" *ngIf="uploadedFile.exist">
                <pre style="overflow-x: scroll;max-height: 400px;"><code [highlight]="uploadedFile.content"></code>
                </pre>
              </div>
            </clr-tab-content>
        </clr-tab>
    
    </clr-tabs>
        
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" [disabled]="(selectedTrainingsdata.length==0 && !uploadedFile.exist)" (click)="this.timelineStyle.step0 ={ state: 'success', open: false };this.timelineStyle.step1 ={ state: 'current', open: true };">Next</button>
      </div>
    </div>
    <!-- STEP 1-->
    <div class="card" *ngIf="timelineStyle.step1.open" >
        <div class="card-header">
          <h3 style="text-align: center;"> Create new app on Luis</h3>
        </div>
        <div class="card-block">
          
          <div >
            <clr-accordion clrAccordionMultiPanel="true">
              <clr-accordion-panel clrAccordionPanelOpen="true">
                <clr-accordion-title>Create App</clr-accordion-title>
                <clr-accordion-content clrIfExpanded="true">
                
                    <clr-input-container>
                      <label >App Name</label>
                      <input clrInput placeholder="Name" name="input" [disabled]="luis.app.created==0" [(ngModel)]="luis.app.name" />
                    </clr-input-container>
                    <clr-textarea-container>
                      <label>Description</label>
                      <textarea placeholder="Description" clrTextarea  [disabled]="luis.app.created==0" [(ngModel)]="luis.app.description" ></textarea>
                      <clr-control-helper>Optional</clr-control-helper>
                    </clr-textarea-container>
                    <clr-select-container>
                      <label>Culture</label>
                      <select clrSelect  [disabled]="luis.app.created==0">
                        <option value="one">de-de</option>
                      </select>
                    </clr-select-container>
                
                </clr-accordion-content>
              </clr-accordion-panel>
              <clr-accordion-panel clrAccordionPanelOpen="true" [clrAccordionPanelDisabled]="luis.app.created==0">
                <clr-accordion-title>App Settings</clr-accordion-title>
                <clr-accordion-content clrIfExpanded="true">
                <div class="settings-info">
                  <div>
                      <label >Status : &nbsp;</label>
                      <span class="label label-danger" *ngIf="luis.app.created === 1"> NOT CREATED</span>
                      <span class="label label-success" *ngIf="luis.app.created === 0 && luis.app.trained === 1">CREATED</span>
                  </div>
                  <div>
                    <label >App ID : &nbsp;</label>
                      <span class="label label-warning" *ngIf="luis.app.created == 0">{{luis.app.id}}</span>
                  </div>
                  <div>
                    <label >published : &nbsp;</label>
                    <span class="label label-danger" *ngIf="luis.app.published === 1"> NOT PUBLISHED</span>
                    <span class="label label-success" *ngIf="luis.app.published === 0 && luis.app.trained === 1">PUBLISHED</span>
                </div>
                  <div>
                      <label >Version: &nbsp;</label>
                      <span class="label label-success" *ngIf="luis.app.created == 0">{{luis.app.version}}</span>
                  </div>
                </div>
                </clr-accordion-content>
              </clr-accordion-panel>
              <clr-accordion-panel clrAccordionPanelOpen="true" [clrAccordionPanelDisabled]="luis.app.published==1">
                <clr-accordion-title>published Settings</clr-accordion-title>
                <clr-accordion-content clrIfExpanded="false">
                  <div>
                    
                  </div>
                </clr-accordion-content>
              </clr-accordion-panel>
            </clr-accordion>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success" *ngIf="luis.app.created==0">Publish</button>
          <button class="btn btn-primary" *ngIf="luis.app.created==1" [clrLoading]="submitBtnState" [disabled]="luis.app.name.trim() === ''" (click)="createApp()">create</button>
          <button class="btn btn-primary-outline"(click)="this.timelineStyle.step0 ={ state: 'current', open: true };this.timelineStyle.step1 ={ state: 'not-started', open: false };">Back</button>
      </div>
    </div>
  </div>
</div>

