.container
{
    width: 90%;
    margin-left : auto;
    margin-right: auto;
}
.card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .card-block {
    bottom: 0;
    height: 100%;
    
}
.button-input 
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

.settings-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.settings-info div
{
    margin: 10px;
}
.settings-info div label
{
    font-weight: 700;
}
.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.spacer
{
    flex: 1 1 auto;
}
.button-bar
{
    display: flex;
    flex-wrap: wrap;
    
}
.clr-col-12{
    margin-bottom: 20px;
}
.clr-row
{
    margin-bottom: 50px;
}
.height
{
    max-height: 300px;
}