<div class="button-bar">
  <div></div>
  <span class="spacer"></span>
  <button class="btn btn-sm btn-primary" (click)="reset()">Reset</button>
  <button class="btn btn-sm btn-primary" (click)="changeToHorizonTal()" *ngIf="layout.direction === 'vertical'">HorizonTal Layout</button>
  <button class="btn btn-sm btn-primary" (click)="changeToVertical()" *ngIf="layout.direction === 'horizontal'">Vertical Layout</button>
  
</div>

<div class="clr-row" >
  <div [class]="layout.block1" >
    <div class="card">
      <div class="card-header">
        <h3 style="text-align: center;"> STEPPER</h3>
      </div>
      
      <div class=" card-block container">

        <clr-timeline [clrLayout]="layout.direction" >
          <clr-timeline-step [clrState]="timelineStyle.step0.state">
            <clr-timeline-step-header>Step 0</clr-timeline-step-header>
            <clr-timeline-step-title> <span *ngIf="!appToUpdate"> Add Utterances</span><span *ngIf="appToUpdate"> Update Utterances</span> </clr-timeline-step-title>
            <clr-timeline-step-description>In this quickstart, you build a new app in the LUIS portal. First, create the basic parts of an app, intents, and entities. </clr-timeline-step-description>
          </clr-timeline-step>
          <clr-timeline-step class="gemini-ignore" [clrState]="luisApp.created == 0? 'success' : timelineStyle.step1.open && !timelineStyle.step1.failed? 'current' :  timelineStyle.step1.failed?  timelineStyle.step1.state : 'not-started'">
            <clr-timeline-step-header>Step 1</clr-timeline-step-header>
            <clr-timeline-step-title> <span *ngIf="!appToUpdate">Create new app on Luis</span><span *ngIf="appToUpdate">Update existing App</span></clr-timeline-step-title>
            <clr-timeline-step-description>
              In the window that appears, enter the following information:
              <ul class="list">
                <li>Name:	A name for your app. Required.</li>
                <li>Description:	A description for your app. Optional.</li>
                <li>Culture:	The language that your app understands and speaks. Here German.</li>
              </ul>
              <button class="btn btn-sm btn-danger" (click)="deleteApp()" *ngIf="luisApp.created==0 && !appToUpdate">Delete</button>
            </clr-timeline-step-description>
          </clr-timeline-step>
          <clr-timeline-step [clrState]="trained? timelineStyle.step2.state : luisApp.trained == 0? 'success' :  luisApp.created == 0? 'current' : timelineStyle.step2.failed? 'error' : 'not-started'">
            <clr-timeline-step-header>Step 2</clr-timeline-step-header>
            <clr-timeline-step-title>Train the App</clr-timeline-step-title>
            <clr-timeline-step-description>
              
              If you changed the app since you trained it last, train the app.
              <br><br>

              <button class="btn btn-sm btn-success" *ngIf="luisApp.trained == 0" (click)="train()" [disabled]="luisApp.created!=0">Train</button>
              <button class="btn btn-sm btn-primary"  *ngIf="luisApp.trained == 1" (click)="train()" [disabled]="luisApp.created!=0">Train</button>
              
            </clr-timeline-step-description>
          </clr-timeline-step>
          
          <clr-timeline-step [clrState]="luisApp.published == 0? 'success' : luisApp.trained == 0? 'current' : timelineStyle.step3.failed? 'error' : 'not-started'">
            <clr-timeline-step-header>Step 3</clr-timeline-step-header>
            <clr-timeline-step-title>Publish the App</clr-timeline-step-title>
            <clr-timeline-step-description>
              <ul class="list">
                <li> Publish the app to access it from the HTTP endpoint</li>
                <li>In order to receive a LUIS prediction in a chat bot or other client application, you need to publish the app to the prediction endpoint.</li>
              </ul>
              <clr-checkbox-wrapper *ngIf="luisApp.trained == 0 && luisApp.published == 1">
                <input type="checkbox" clrCheckbox name="staging" required [checked]="luisApp.isStaging"  [(ngModel)]="luisApp.isStaging" />
                <label>Staging</label>
              </clr-checkbox-wrapper>
              <button class="btn btn-sm btn-primary-outline" *ngIf="luisApp.published == 0" (click)="openModalUpdateSettings = true">Update Settings</button>
            </clr-timeline-step-description>
          </clr-timeline-step>
          <clr-timeline-step [clrState]="timelineStyle.step4.state">
            <clr-timeline-step-header>Step 4</clr-timeline-step-header>
            <clr-timeline-step-title>Test your App</clr-timeline-step-title>
            <clr-timeline-step-description>
              <button class="btn btn-sm btn-success" *ngIf="luisApp.tested == 0 && luisApp.published==0" (click)="test()">Test</button>
              <button class="btn btn-sm btn-primary" *ngIf="luisApp.tested == 1 && luisApp.published==0" (click)="test()" >Test</button>
            </clr-timeline-step-description>
          </clr-timeline-step>
        </clr-timeline>
      </div>
    </div>
  </div>
  <div [class]="layout.block2" >
    
    <!--STEP 0-->
    <div class="card" *ngIf="timelineStyle.step0.open">
      <div class="card-header">
        <h3 style="text-align: center;" *ngIf="!appToUpdate"> Add Utterances</h3>
        <h3 style="text-align: center;" *ngIf="appToUpdate"> Update {{luisApp.name}}</h3>
      </div>
      <div class="card-block">
        <clr-radio-container clrInline>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="options" required value="train" [(ngModel)]="data.type" />
            <label> Select your training data</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input type="radio" clrRadio name="options" required value="test" [(ngModel)]="data.type" />
            <label>Select your test data</label>
          </clr-radio-wrapper>
          <clr-control-helper>You need to select your traindata to go to the next step of the workflow. If you don't add any testdata the previously selected "training data" are automatically distributed to training and test data</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-radio-container>
        <h3 *ngIf="data.type=='train'"> 
          Add Train data
              <clr-tooltip>
                <clr-icon shape="info-circle" size="35" style="--color:hsl(282, 43%, 54%)" clrTooltipTrigger></clr-icon>
                <clr-tooltip-content *clrIfOpen>
                  Select Ground-Truth train data for your App
                </clr-tooltip-content>
              </clr-tooltip>
        </h3>
        <h3 *ngIf="data.type=='test'"> 
          Add Test data
              <clr-tooltip>
                <clr-icon shape="info-circle" size="30" style="--color:hsl(282, 43%, 54%)" clrTooltipTrigger></clr-icon>
                <clr-tooltip-content *clrIfOpen>
                  Select Ground-Truth test data or upload a json or csv file
                </clr-tooltip-content>
              </clr-tooltip>
        </h3>
        <clr-tabs *ngIf="data.type=='test'">
          <clr-tab>
              <button clrTabLink (click)="uploadedFile = {exist : false,content : '',name : ''}">Ground-Truth</button>
              <clr-tab-content *clrIfActive>
                
                <clr-datagrid [(clrDgSelected)]="selectedTestdata"  >
                  <clr-dg-placeholder>The Ground-Truth is empty</clr-dg-placeholder>
                  <clr-dg-column > <ng-container *clrDgHideableColumn="{hidden: false}">ID</ng-container></clr-dg-column>
                  <clr-dg-column [clrDgField]="'transcript'"><ng-container *clrDgHideableColumn="{hidden: false}">Transcript</ng-container></clr-dg-column>
                  <clr-dg-column [clrDgField]="'category'"><ng-container *clrDgHideableColumn="{hidden: false}">Category</ng-container></clr-dg-column>
                  <clr-dg-column [clrDgField]="'literal'"><ng-container *clrDgHideableColumn="{hidden: false}">Literal</ng-container> </clr-dg-column>
                  <clr-dg-column [clrDgField]="'startIndex'"><ng-container *clrDgHideableColumn="{hidden: false}">Start_Index</ng-container> </clr-dg-column>
                  <clr-dg-column [clrDgField]="'endIndex'"><ng-container *clrDgHideableColumn="{hidden: false}">End_Index</ng-container> </clr-dg-column>
                  <clr-dg-column [clrDgField]="'intent'"><ng-container *clrDgHideableColumn="{hidden: false}">Intent</ng-container> </clr-dg-column>
                  <clr-dg-column [clrDgField]="'tag'"> <ng-container *clrDgHideableColumn="{hidden: false}">Tag</ng-container></clr-dg-column>
              
                  <clr-dg-action-bar>
                    
                    <span *ngIf="result.length != 0" ><p style="float: left; margin: 0 1em 0 0;">by Intent:</p></span>
                    <div *ngFor="let intent of intents; let i = index" class="btn-group" >
                      <div>
                          <button *ngIf="!intentsSelectionTestdata[i]" class="btn btn-sm btn-primary-outline" (click)="intentsSelectionTestdata[i]=!intentsSelectionTestdata[i];selectIntents(intent,1)">{{intent}}</button>
                          <button *ngIf="intentsSelectionTestdata[i]" class="btn btn-sm btn-primary" (click)="intentsSelectionTestdata[i]=!intentsSelectionTestdata[i]; deselectIntents(intent,1)">{{intent}}</button>
        
                      </div>
                      
                    </div>
                      
                  </clr-dg-action-bar>
                  <clr-dg-row *clrDgItems="let utterance of result" [clrDgItem]="utterance"  [clrDgSelectable]="!utterance.locked && !isTraindata(utterance)">
                  
              
                  <ng-container >
                      <clr-dg-cell>{{utterance.id}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.transcript}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.category}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.literal}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.startIndex}} </clr-dg-cell>
                      <clr-dg-cell>{{utterance.endIndex}} </clr-dg-cell>
                      <clr-dg-cell>{{utterance.intent}} </clr-dg-cell>
                      <clr-dg-cell>{{utterance.tag}}</clr-dg-cell>
                  </ng-container>
              
                  </clr-dg-row>
              
                  <clr-dg-footer>
                      <clr-dg-column-toggle>
                          <clr-dg-column-toggle-title>Show Columns</clr-dg-column-toggle-title>
                          <clr-dg-column-toggle-button>Select All Button</clr-dg-column-toggle-button>
                          <clr-radio-wrapper>
              
                          </clr-radio-wrapper>
                      </clr-dg-column-toggle>
                  <clr-dg-pagination #pagination [clrDgPageSize]="10">
                      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Utterances per page</clr-dg-page-size>
                      {{pagination.firstItem + 1}} - {{pagination.lastItem}} of {{pagination.totalItems}} utterances
                  </clr-dg-pagination>
                  </clr-dg-footer>
                </clr-datagrid>
              </clr-tab-content>
          </clr-tab>
          <clr-tab *ngIf="!appToUpdate">
            <button clrTabLink (click)="intentsSelectionTestdata = [];selectedTestdata = []">Upload File</button>
            <clr-tab-content *clrIfActive="uploadedFile.exist">
              <br>
              <label class="btn">
                <input type="file"  accept=".csv" placeholder="Upload File" (change)="readCsvFile($event) "  class="button-input"><clr-icon shape="upload"></clr-icon> upload
              </label>
              <h4 *ngIf="uploadedFile.exist">{{uploadedFile.name}}</h4>
              <div class="card-text" *ngIf="uploadedFile.exist">
                <pre style="overflow-x: scroll;max-height: 400px;"><code [highlight]="uploadedFile.content"></code>
                </pre>
              </div>
            </clr-tab-content>
        </clr-tab>
      </clr-tabs>
      <clr-tabs *ngIf="data.type=='train'">
        <clr-tab>
            <button clrTabLink >Ground-Truth</button>
            <clr-tab-content *clrIfActive>
              <clr-datagrid [(clrDgSelected)]="selectedTrainingsdata">
                <clr-dg-placeholder>The Ground-Truth is empty</clr-dg-placeholder>
                <clr-dg-column > <ng-container *clrDgHideableColumn="{hidden: false}">ID</ng-container></clr-dg-column>
                <clr-dg-column [clrDgField]="'transcript'"><ng-container *clrDgHideableColumn="{hidden: false}">Transcript</ng-container></clr-dg-column>
                <clr-dg-column [clrDgField]="'category'"><ng-container *clrDgHideableColumn="{hidden: false}">Category</ng-container></clr-dg-column>
                <clr-dg-column [clrDgField]="'literal'"><ng-container *clrDgHideableColumn="{hidden: false}">Literal</ng-container> </clr-dg-column>
                <clr-dg-column [clrDgField]="'startIndex'"><ng-container *clrDgHideableColumn="{hidden: false}">Start_Index</ng-container> </clr-dg-column>
                <clr-dg-column [clrDgField]="'endIndex'"><ng-container *clrDgHideableColumn="{hidden: false}">End_Index</ng-container> </clr-dg-column>
                <clr-dg-column [clrDgField]="'intent'"><ng-container *clrDgHideableColumn="{hidden: false}">Intent</ng-container> </clr-dg-column>
                <clr-dg-column [clrDgField]="'tag'"> <ng-container *clrDgHideableColumn="{hidden: false}">Tag</ng-container></clr-dg-column>
            
                <clr-dg-action-bar>
                  <span *ngIf="result.length != 0" ><p style="float: left; margin: 0 1em 0 0;">by Intent:</p></span>
                  <div *ngFor="let intent of intents; let i = index" class="btn-group">
                    <div>
                        <button *ngIf="!intentsSelectionTraindata[i]" class="btn btn-sm btn-primary-outline" (click)="intentsSelectionTraindata[i]=!intentsSelectionTraindata[i];selectIntents(intent,0)">{{intent}}</button>
                        <button *ngIf="intentsSelectionTraindata[i]" class="btn btn-sm btn-primary" (click)="intentsSelectionTraindata[i]=!intentsSelectionTraindata[i]; deselectIntents(intent,0)">{{intent}}</button>
                    </div>
                  </div>
                    
                </clr-dg-action-bar>
                <clr-dg-row *clrDgItems="let utterance of result" [clrDgItem]="utterance" [clrDgSelectable]="!isTestdata(utterance)">
                  <ng-container >
                      <clr-dg-cell>{{utterance.id}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.transcript}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.category}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.literal}}</clr-dg-cell>
                      <clr-dg-cell>{{utterance.startIndex}} </clr-dg-cell>
                      <clr-dg-cell>{{utterance.endIndex}} </clr-dg-cell>
                      <clr-dg-cell>{{utterance.intent}} </clr-dg-cell>
                      <clr-dg-cell>{{utterance.tag}}</clr-dg-cell>
                  </ng-container>
                </clr-dg-row>
                <clr-dg-footer>
                    <clr-dg-column-toggle>
                        <clr-dg-column-toggle-title>Show Columns</clr-dg-column-toggle-title>
                        <clr-dg-column-toggle-button>Select All Button</clr-dg-column-toggle-button>
                        <clr-radio-wrapper>
            
                        </clr-radio-wrapper>
                    </clr-dg-column-toggle>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10">
                        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Utterances per page</clr-dg-page-size>
                        {{pagination.firstItem + 1}} - {{pagination.lastItem}} of {{pagination.totalItems}} utterances
                    </clr-dg-pagination>
                </clr-dg-footer>
              </clr-datagrid>
             
            </clr-tab-content>
        </clr-tab>
      </clr-tabs>
        
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" *ngIf="appToUpdate"  (click)="updateApp();this.timelineStyle.step0 ={ state: 'success', open: false };this.timelineStyle.step1 ={ state: 'current', open: true }; luisApp.created = 0;">update</button>
        <button class="btn btn-primary" *ngIf="!appToUpdate" [disabled]="(selectedTrainingsdata.length==0)"  (click)="this.timelineStyle.step0 ={ state: 'success', open: false };this.timelineStyle.step1 ={ state: 'current', open: true };">Next</button>
      </div>
    </div>
    <!-- STEP 1-->
    <div class="card" *ngIf="timelineStyle.step1.open" >
        <div class="card-header">
          
          <h3 style="text-align: center;"> <span *ngIf="!appToUpdate">Create new app on Luis</span><span *ngIf="appToUpdate">Update your App</span> </h3>
        </div>
        <div class="card-block">
          
          <div >
            <clr-accordion clrAccordionMultiPanel="true">
              <clr-accordion-panel  [clrAccordionPanelOpen]="luisApp.published == 1">
                <clr-accordion-title>Create App</clr-accordion-title>
                <clr-accordion-content [clrIfExpanded]="luisApp.published == 1">
                  <form clrForm [formGroup]="form" class="clr-form clr-form-horizontal">
                    <clr-input-container>
                      <label >App Name</label>
                      <input clrInput formControlName="appName" placeholder="Name" [(ngModel)]="luisApp.name" minlength="4" maxlength="14"/>
                      <clr-control-error *clrIfError="'exists'">An app with the same name already exists!</clr-control-error>
                      <clr-control-error *clrIfError="'required'">Pleas enter an app name!</clr-control-error>
                      <clr-control-error *clrIfError="'minlength'">The app name must have at least 4 characters.</clr-control-error>
                    </clr-input-container>
                    <clr-textarea-container>
                      <label>Description</label>
                      <textarea formControlName="appDesc" placeholder="Description" clrTextarea [(ngModel)]="luisApp.description" ></textarea>
                      <clr-control-helper>Optional</clr-control-helper>
                    </clr-textarea-container>
                    <clr-select-container>
                      <label>Culture</label>
                      <select clrSelect formControlName="culture">
                        <option value="one">de-de</option>
                      </select>
                    </clr-select-container>
                  </form>
                
                </clr-accordion-content>
              </clr-accordion-panel>
              <clr-accordion-panel clrAccordionPanelOpen="true" [clrAccordionPanelDisabled]="luisApp.created==0">
                <clr-accordion-title>App Settings</clr-accordion-title>
                <clr-accordion-content clrIfExpanded="true">
               
                <div  class="settings-info" >
                  <div class="clr-row">
                      <div class="clr-example-col-value clr-col-1"> <label >Status : &nbsp;</label></div>
                      <div class="clr-example-col-value clr-col">
                        <span class="label label-danger" *ngIf="luisApp.created === 1"> NOT CREATED</span>
                        <span class="label label-warning" *ngIf="luisApp.created === 0 && luisApp.trained != 0">CREATED</span>
                        <span class="label label-success" *ngIf="luisApp.trained === 0 && luisApp.published != 0"> TRAINED</span>
                        <span class="label label-success" *ngIf="luisApp.published === 0">PUBLISHED</span>
                      </div>
                  </div>
                  <div class="clr-row">
                    <div class="clr-example-col-value clr-col-1"><label >App Id : &nbsp;</label></div>
                    <div class="clr-example-col-value clr-col"> <span class="label label-info clickable" *ngIf="luisApp.created == 0">{{luisApp.id}}</span></div>
                  </div>
                  <div class="clr-row">
                      <div class="clr-example-col-value clr-col-1"><label >Version : &nbsp;</label></div>
                      <div class="clr-example-col-value clr-col"><span class="label label-blue" *ngIf="luisApp.created == 0">{{luisApp.version}}</span></div>
                  </div>
                  <div class="clr-row" *ngIf="luisApp.published==0">
                    <div class="clr-example-col-value clr-col-1"> <label >Last Change: &nbsp;</label></div>
                    <div class="clr-example-col-value clr-col"><span class="label label-purple"> {{luisApp.publishedDateTime| date: "dd:MMM:yyyy hh-mm-ss z"}}</span></div>
                 </div>
                <div class="clr-row" *ngIf="luisApp.published==0">
                  <div class="clr-example-col-value clr-col-1"><label >Region: &nbsp;</label></div>
                  <div class="clr-example-col-value clr-col"><span class="label label-purple" >{{luisApp.region}}</span></div>
                </div>
                <div class="clr-row" *ngIf="luisApp.published==0">
                  <div class="clr-example-col-value clr-col-1"><label >Url : &nbsp;</label></div>
                  <div class="clr-example-col-value clr-col"><span class="label label-purple clickable">{{luisApp.url}}</span></div>
                </div>
              </div>
                </clr-accordion-content>
              </clr-accordion-panel>
              <clr-accordion-panel clrAccordionPanelOpen="true" [clrAccordionPanelDisabled]="luisApp.published==1">
                <clr-accordion-title>Published Settings</clr-accordion-title>
                <clr-accordion-content clrIfExpanded="false">
                  <div  class="settings-info" *ngIf="luisApp.published == 0">
                      <div class="clr-row">
                          <div class="clr-example-col-value clr-col-2"> <label >SentimentAnalysis : &nbsp;</label></div>
                          <div class="clr-example-col-value clr-col"><span class="label label-blue"> {{luisApp.settings.sentimentAnalysis}}</span></div>
                      </div>
                      <div class="clr-row">
                        <div class="clr-example-col-value clr-col-2"><label >Speech: &nbsp;</label></div>
                        <div class="clr-example-col-value clr-col"><span class="label label-blue" >{{luisApp.settings.speech}}</span></div>
                      </div>
                      <div class="clr-row">
                        <div class="clr-example-col-value clr-col-2"><label >SpellChecker : &nbsp;</label></div>
                        <div class="clr-example-col-value clr-col"><span class="label label-blue">{{luisApp.settings.spellChecker}}</span></div>
                    </div>
                  </div>
                </clr-accordion-content>
              </clr-accordion-panel>
            </clr-accordion>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success" (click)="publish()" [disabled]="luisApp.trained == 1" *ngIf="luisApp.published!=0 && luisApp.created == 0">Publish</button>
          <button class="btn btn-primary" *ngIf="luisApp.created==1 && !appToUpdate" [disabled]="luisApp.name.trim() === ''" (click)="createApp()">Create</button>
         

          <button class="btn btn-primary-outline" (click)="this.timelineStyle.step0 ={ state: 'current', open: true };this.timelineStyle.step1 ={ state: 'not-started', open: false };">Back</button>
          <button class="btn btn-outline" *ngIf="luisApp.created==0" routerLink="{{'/apps/' + luisApp.name }}" routerLinkActive="actice"> Finish</button>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="openModalUpdateSettings">
  <h3 class="modal-title">Update Published settings</h3>
  <div class="modal-body">
    <clr-toggle-container clrInline>
     
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle name="Sentiment Analysis" value="{{luisApp.settings.sentimentAnalysis}}" [(ngModel)]="luisApp.settings.sentimentAnalysis" />
        <label>Sentiment Analysis</label>
      </clr-toggle-wrapper>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle name="SpellChecker"  value="{{luisApp.settings.spellChecker}}" [(ngModel)]="luisApp.settings.spellChecker" />
        <label>SpellChecker</label>
      </clr-toggle-wrapper>
      <clr-toggle-wrapper>
        <input type="checkbox" clrToggle name="Speech"  value="{{luisApp.settings.speech}}" [(ngModel)]="luisApp.settings.speech" />
        <label>Speech</label>
      </clr-toggle-wrapper>
    </clr-toggle-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updatePublishSetting();openModalUpdateSettings = false ">Update</button>
    <button type="button" class="btn btn-outline" (click)="openModalUpdateSettings = false">Cancel</button>
  </div>
</clr-modal>
