<clr-main-container class="main-container">
  <clr-header class="header header-6">
    <div class="branding">
      <a class="nav-link" routerLink="/dashboard">
        <clr-icon shape="talk-bubbles" class="is-inverse is-solid" size="22"></clr-icon>
        <span class="title">QAware Luis</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/dashboard">
        
        <span class="title">Dashboard</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/manage">
        
        <span class="title">Management</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/import">
        
        <span class="title">Editor</span>
      </a>
    </div>
    
    <div class="header-nav">
      <a class="nav-link" routerLink="/training">
        
        <span class="title">Training</span>
      </a>
    </div>

    <div class="header-actions">
        <a (click)="switchTheme()" class="nav-link nav-icon-text">
          <clr-icon *ngIf="darkThemeIsActive" class="is-solid" shape="sun" size="24"></clr-icon>
          <clr-icon *ngIf="!darkThemeIsActive" class="is-solid" shape="moon" size="24"></clr-icon>
        </a>
    </div>
  </clr-header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>