<clr-main-container class="main-container">
  <clr-header class="header header-4">
    <div class="branding">
      <a class="nav-link" routerLink="/dashboard">
        <clr-icon shape="talk-bubbles" class="is-inverse is-solid" size="22"></clr-icon>
        <span class="title">QAware Luis</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
            <clr-icon shape="cog"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a href="..." clrDropdownItem>About</a>
            <a href="..." clrDropdownItem>Preferences</a>
        </clr-dropdown-menu>
    </clr-dropdown>
    </div>
  </clr-header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive = "active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage" routerLinkActive = "active">Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/training" routerLinkActive = "active">Training</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>