<div class="btn-group btn-link">
    <button class="btn btn-icon" (click)="gridViewIsActive=!gridViewIsActive">
        <clr-icon *ngIf="!gridViewIsActive" class="is-solid" shape="grid-view" size="24"></clr-icon>
        <clr-icon *ngIf="gridViewIsActive" class="is-solid" shape="view-list" size="24"></clr-icon>
    </button>
    <button class = "btn btn-icon">
        <clr-icon shape="plus"></clr-icon>
    </button>
</div>

<div *ngIf="gridViewIsActive">
    <div *ngIf="apps.length; else showInfo" class="clr-row clr-align-items-start clr-justify-content-start">
        <div *ngFor="let app of apps; let index = i" class="clr-col-auto" style="max-width: min-content;">
            <a class="card clickable" routerLink="{{'/manage/' + app.name }}" routerLinkActive="actice">
                <div class="card-block">
                    <h3 class="card-title">{{app.name}}</h3>
                    <div class="card-text">
                        {{app.description}}
                    </div>
                </div>
                <div class="card-footer">
                    <span class="label label-light-blue p7" style="margin-top: .4em;">ID: {{app.appID}}</span>
                    <span class="label label-purple p7" style="margin-top: .4em;">Version: {{app.version}}</span>
                    <span class="label label-success p7" [ngClass]="{
                    'label-info': app.status === 'deployed',
                    'label-success': app.status === 'published',
                    'label-danger': app.status === 'failed' }" style="margin-top: .4em;">Status: {{app.status}}</span>
                </div>
            </a>
        </div>
    </div>
    <ng-template #showInfo>
        <div class="alert alert-info" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                        Sorry. No Luis apps could be found.
                    </span>
                </div>
            </div>
        </div>
    </ng-template>
</div>
<app-manage-view *ngIf="!gridViewIsActive"></app-manage-view>