button.action-item:focus {
    background-color: transparent;
}

button.action-item:hover {
    background-color: hsl(201, 29%, 88%) ;
}

.color-square {
    display: inline-block;
    vertical-align: bottom;
    height: .7rem;
    width: .7rem;
    margin-right: 0.2rem;
    border-radius: .2rem;
}

.button-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}